
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Show</th>
			<th> Edit </th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='user in users'><!--look into filtering search for dates -->
			<td>{{user.first_name}} {{user.last_name}}</td>
			<td><a href="#/friends/{{user._id}}">show</a></td>
			<td><a href="#/friends/{{user._id}}/edit">Edit</a></td>
			<td><button ng-click="delete(user._id)">delete</button></td>
		</tr>
	</tbody>
</table>

<button><a href="#/friends/new">New Friend</a></button>